<div class="page-header">
  <h1>Contact Detail #<%= @contact_detail.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @contact_detail.name %></dd>

  <dt>Address</dt>
  <dd><%= @contact_detail.address %></dd>

  <dt>Phone</dt>
  <dd><%= @contact_detail.phone %></dd>

  <dt>Contact</dt>
  <dd><%= @contact_detail.contact %></dd>

  <dt>Preferences</dt>
  <dd><%= @contact_detail.preferences %></dd>

</dl>
